<img src = "./img/TheBridge_logo_RGB_color.jpg" width = 500>
<img src = "./img/python.jpg" width = 500>

# Python Basics I

## Tipos de los datos
Python es un lenguaje fuertemente tipado. Eso significa que las variables que usamos pertenecen a un tipo de datos: numero entero (int), real (float), texto (String), u otro tipo de objetos.

**¿Por qué es importante saber bien de que tipos son los datos?** Porque cada tipo de dato tiene una serie propiedades y operaciones asociadas. Por ejemplo, a un texto no lo puedo sumar 5. Por lo que cuando vayamos a hacer operaciones entre ellos, tenemos que asegurarnos de que son del mismo tipo para que el resultado sea el esperado. `texto + 5` no tiene sentido y va a dar error. Parece obvio, pero hay ocasiones en las que los tipos de los datos no son los esperados.

**¿Cuántos tipos de datos hay?** Básicamente aquí no hay límites. En este notebook veremos los más básicos, pero en notebooks posteriores verás que puedes crearte tus propios tipos de datos mediante las **clases**. En Python hay una serie de tipos de datos básicos, que podremos usar sin importar ningun módulo externo, son los llamados [*built-in Types*](https://docs.python.org/3/library/stdtypes.html). Estos son los más comunes:

* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

## Contenidos

* [Numéricos](#Numéricos)

* [Strings](#Strings)

* [Booleano](#Booleano)

### Numéricos
[al indice](#Contenidos)

In [1]:
numero = 22
type(numero)

int

Bien, es un ***int***, un número entero. Si lo que quiero es un numero real, es decir, que tenga decimales, le añado un punto

In [2]:
numero_real = 22.0
print(type(numero_real))

<class 'float'>

Aunque no le haya añadido decimales como tal, ya le estoy diciendo a Python que esta variable es un numero real (***float***).

In [3]:
numero_real_decimales = 22.45123
type(numero_real_decimales)

float

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [6]:
print("Sumas y restas")
print(1 + 2)
print(1.0 + 2) # al sumar float con int devuelve float
print(1.0-2) # siempre que se opera float e int el resultado será float

Sumas y restas
3
3.0
-1.0

In [7]:
print("Multiplicaciones y divisiones")
print(2*2)
print(2.0*2)
print(2/2) # el resultado de una división siempres es float

Multiplicaciones y divisiones
4
4.0
1.0

In [8]:
print("Resto y cociente de una división")
print(10/3)
print(int(10/3)) # conversión de un número decimal a un entero
print(10 % 3) # resto de la división 10/3
print (10 //3) # cociente de la división 10/3

Resto y cociente de una división
3.3333333333333335
3
1
3

In [10]:
n = 435678910
print("¿Es", n, "par?")
resto = n % 2 # divido entre 2 para comprobar si n es par (resto = 0) o impar (resto <> 0)
print("El resto es", resto)
if resto == 0:
    print ("Es par")
else:
    print("Es impar")

¿Es 435678910 par?
El resto es 0
Es par

### Strings
  
[al indice](#Contenidos)

El tercer tipo de datos más común es el *String*, o cadena de texto. Hay varias maneras de declararlo:

In [11]:
# Se declaran con: 1) comillas dobles
cadena = "Esto es una variable de tipo string"
# 2) comillas simples
cadena_2 = 'Esto es una variable de tipo string en comillas simples'
print(cadena)
print(cadena_2)

Esto es una variable de tipo string
Esto es una variable de tipo string en comillas simples

Si da la casualidad de que en el texto hay comillas, tenemos la posibilidad de que Python las interprete como parte del texto y no como comando de inicio/cierre de String

In [14]:
print("String con 'simples'")
print('String con "dobles"')
print("String con \"simples o dobles\"")

String con 'simples'
String con "dobles"
String con "simples o dobles"

En ocasiones queremos poner saltos de línea o tabulaciones en los prints, o simplemente en una variable de tipo String. Para ello usamos los [*escape characters*](https://www.w3schools.com/python/gloss_python_escape_characters.asp) como `\n` para saltos de línea o `\t` para tabulaciones.

In [17]:
print("Primera Linea\nSegunda Linea\n\tTercera Linea, tabulada")

Primera Linea
Segunda Linea
	Tercera Linea, tabulada

In [19]:
mi_string = "Primera Linea\nSegunda Linea\n\tTercera Linea, tabulada"
print(mi_string)

Primera Linea
Segunda Linea
	Tercera Linea, tabulada

Para unir dos variables de tipo String, simplemente usamos el `+`

In [21]:
nombre = "Antonia"
apellido = "Scott"
espacio = " "

nombre_apellido = nombre + " " + apellido
nombre_apellido = nombre + espacio + apellido
print(nombre_apellido)

Antonia Scott

In [22]:
esto_es_una_prueba = "Pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

TypeError: can only concatenate str (not "int") to str

### Booleano
  [al indice](#Contenidos)

Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [23]:
true

NameError: name 'true' is not defined

In [24]:
TRUE

NameError: name 'TRUE' is not defined

In [28]:
True # valor True del tipo booleano
type(True)

ya_se_de_python = False
print(type(ya_se_de_python))

<class 'bool'>

In [29]:
dinerito = 5
dinerito >= 15 # Operación de comparación que devuelve resultado de tipo booleano

False

In [31]:
dinerito = 15
cond_1 = dinerito >=15 # Se define el valor de la variable cond_1 a partir de una operación de condición que tiene como resultado True o False
print(cond_1)
print(type(cond_1))

True
<class 'bool'>

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

En otros lenguajes de programación el valor numérico suele ir más desagregado dependiendo del volumen del mismo. No es lo mismo tener un `double`, que un `float`. Por suerte en Python no hay que preocuparse de eso :)

Veamos más ejemplos

In [32]:
print(type(1.0))

<class 'float'>

In [33]:
print(type(-74))

<class 'int'>

In [34]:
print(type("3.45"))

<class 'str'>

In [35]:
print(type(True))

<class 'bool'>

In [36]:
print(type(cond_1))

<class 'bool'>